  body {
    margin: 0!important;
    padding: 200px 0 0 0!important;
    font-family: Arial, sans-serif;
  } 
  
  nav{
    background-color: #620b0e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
    padding: 2rem 0rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    z-index: 1000;
  }
  nav img{
    height: 150px;
  }
  nav .nav-pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
  .nav-pages p{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;
  }
 .nav-pages p:hover , .nav-pages p:active{
    color: rgb(109, 108, 108);
    transition: 0.3s ease-in-out;
 }
 .nav-pages p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(109, 108, 108);
    transition: 0.3s ease;
 }
.nav-pages p:hover::after {
    width: 100%;
}
nav button{
    background-color: #620b0e;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 5px;
}
nav button:hover{
    background-color: white;
    color: #620b0e;
    transition: 0.3s ease-in-out;
}
.main {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 40rem;
    margin: 10rem 15rem;

}
.main img{
    width: 100%;
    max-width: 20%;
    height: 50vh;
   
}
@keyframes welcomeAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px) rotate(0deg) scale(0.5);
    }
    50% {
        opacity: 0.7;
        transform: translateY(20px) rotate(0deg) scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0deg) scale(1);
    }
}

.main h1{
    font-size: 10rem;
    color: #620b0e;
    font-family: 'Times New Roman', Times, serif ;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    animation: welcomeAnimation 3s ease-out forwards;   
}




