    body{
    
        display: flex;
    
    }
    .main {
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        /* margin:0 10% ;   */
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-image: url(../../images/Events/stage15-n4FeNBnj.jpg);
        position: relative;
        margin-top: 5%;
        margin-bottom: 8%;
    }
    .main::before{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(27, 26, 26, 0.65), rgba(0, 0, 0, 0.3));
        z-index: 0;
    }
    @keyframes welcomeAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100px) rotate(0deg) scale(0.5);
    }
    50% {
        opacity: 0.7;
        transform: translateY(20px) rotate(0deg) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(0deg) scale(1);
        }
    }
    #wel {
        color: #cec9c9;
        font-size: 1.2em;
        display: inline-block;
        animation: glow 2s infinite alternate;
    }

    @keyframes glow {
        from { text-shadow: 0 0 5px #AA8552; }
        to { text-shadow: 0 0 20px #AA8552; }
    }

    .main h1{
         text-shadow: 
        0 0 8px rgba(170,133,82,0.9),
        0 0 20px rgba(255, 255, 255, 0.8);
        margin-top: 8%;
        font-size: 5rem;
        color:#AA8552 ;
        font-family: 'Times New Roman', Times, serif ;
        text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
        animation: welcomeAnimation 3s ease-out forwards;   
    }
    .main img{
        width: 500px;
        height: 50vh;
        margin-top:15%;
        
    }

    .about{
        margin-left: 25%;
        margin-bottom: -450px;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 40%;
        background-color: #374F4E;
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
        border-radius: 10px;
        padding: 50px;
        color: #DACCC4;
        font-size: 20px; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-shadow: 1px 0px 1px #cec9c9;
    }
    .about:hover{
        transform: scale(1.1);
        transition: transform 0.5s;
        
    }
    .about h1{
            margin-bottom: 20px;
            text-shadow: 
            0 0 8px rgba(170,133,82,0.9),
            0 0 20px rgba(255, 255, 255, 0.8);
            color: #D1801E;
            font-size: 4rem;
            text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, sans-serif;
        }
        
    @media(max-width: 600px) { 
    .main{  
        margin-left: 0;
        margin-top: 10%;
        margin-bottom: 20%;
        height: 100vh;
        width: 100%;
    }
    .main h1{
        margin-top: 15%;
        font-size: 4rem;
        padding: 5%;
    }
   .about{
     height: 50vh;
     width: 60%;
      margin-left: 10%;
     margin-bottom: -450px;
    }
     .main::before{
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(27, 26, 26, 0.65), rgba(0, 0, 0, 0.45));
        z-index: 0;
    }
    
    }